@import url("https://fonts.googleapis.com/css2?family=SVN-Product+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 97%;
		--foreground: 229 39% 14%;

		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;

		--primary: 15 100% 50%;
		--primary-foreground: 210 20% 98%;

		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;

		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;

		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
	}

	body {
		font-family: SVN-Product Sans, Inter, system-ui, Avenir, Helvetica, Arial,
			sans-serif;
		font-weight: 400;
		color-scheme: light dark;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		@apply bg-background text-foreground sm:text-[16px] text-sm;
	}

	::-webkit-scrollbar {
		width: 4px;
	}

	::-webkit-scrollbar-track {
		background-color: #EDF1F7;
	}

	::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		border-radius: 999px;
	}

	h1,
	.h1 {
		@apply text-2xl font-bold md:text-[40px];
	}

	h2,
	.h2 {
		@apply text-xl font-bold md:text-3xl;
	}

	h3,
	.h3 {
		@apply text-lg font-bold md:text-[20px];
	}

	h4,
	.h4 {
		@apply text-base font-bold md:text-lg;
	}
}
